@page "/"

<h1>Welcome to CrushApp 💘</h1>

<p>This is the home of meaningful connections. Ready to start swiping?</p>

<NavLink class="btn btn-primary" href="/register">Create Account</NavLink>
