@inherits LayoutComponentBase

<PageTitle>CrushApp</PageTitle>

<div class="app-container">
    <div class="d-flex flex-grow-1">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main class="flex-grow-1 d-flex flex-column">
            @Body
        </main>
    </div>

    <FooterBar />
</div>
