@using CrushApp.Data.Services

@inject UserSessionService Session
@inject NavigationManager Nav

<div class="nav-scrollable">
    <nav class="d-flex flex-column gap-2">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <span class="oi oi-home"></span> Home
        </NavLink>

        @if (!Session.IsLoggedIn)
        {
            <NavLink class="nav-link" href="/register">
                <span class="oi oi-plus"></span> Register
            </NavLink>

            <NavLink class="nav-link" href="/login">
                <span class="oi oi-lock-locked"></span> Login
            </NavLink>
        }
        else
        {
            <NavLink class="nav-link" href="/profile">
                <span class="oi oi-person"></span> Profile
            </NavLink>

            <button class="nav-link btn btn-link text-start w-100" @onclick="Logout">
                <span class="oi oi-account-logout"></span> Logout
            </button>
        }
    </nav>
</div>

@code {
    private void Logout()
    {
        Session.Logout();
        Nav.NavigateTo("/login");
    }

    protected override void OnInitialized()
    {
        Session.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Session.OnChange -= StateHasChanged;
    }
}
